html {
  height: 100%;
  width: 100%;
}

.column {
  float: left;
}

.left,
.right {
  width: 25%;
}

.middle {
  width: 50%;
}

img {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 100px;
  margin-right: 100px;
  width: 300px;
  height: 300px;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5px;
}

.tooltip1,
.tooltip2,
.tooltip3,
.tooltip4,
.tooltip5,
.tooltip6,
.tooltip7,
.tooltip8,
.tooltip9 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip img {
  width: 100px;
  height: auto;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  position: relative;
  z-index: 1;
  bottom: 50%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip1:hover .tooltiptext,
.tooltip2:hover .tooltiptext,
.tooltip3:hover .tooltiptext,
.tooltip4:hover .tooltiptext,
.tooltip5:hover .tooltiptext,
.tooltip6:hover .tooltiptext,
.tooltip7:hover .tooltiptext,
.tooltip8:hover .tooltiptext,
.tooltip9:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

